---
layout: default
title: IDEA
---
<h1>Принципы построения энергосистем в архитектуре IDEA</h1>
{% include three-columns.html %}

<div id='scroll-container' class="columns">
    <div id="sections" class="column is-4-desktop is-4-tablet is-full-mobile">
        {% for section in site.sections %}
        <div id={{ section.ident }}>
        <section class="section">
           <!-- <h2>{{ section.title }}</h2>-->
            {{ section.content }}
        </section>
        </div>
        {% endfor %}
    </div>
    <div id="graph-container" class="column  is-8-desktop is-8-tablet is-full-mobile">
        <div id="graph" class="is-centered "></div>
    </div>

</div>

<div id="js-nav-hide-point"></div>


