<div class="footer">
    <a href="{{page.url_medium}}"><div class="footer-rect-medium"></div></a>
    <a href="{{page.url_telegram}}"><div class="footer-rect-telegram"></div></a>
    <div class="columns is-desktop">
        <div class="column">
            <span>{{site.t[page.lang].fulldescription}}</span><br>
            <a href="{{site.t[page.lang].whitepaperurl}}">Whitepaper</a>
        </div>
        <div class="column">
            <span>{{site.t[page.lang].writetous}}</span><br>
            <a href="mailto:{{ page.url_email }}">{{ page.url_email }}</a>
        </div>
    </div>
</div>
<div class="basement">
    <div class="columns is-mobile">
        <div class="column has-vertically-aligned-content is-half">
            © 2018 IDEA
        </div>
        <div class="column has-vertically-aligned-content is-half">
            <span>{{site.t[page.lang].copyright}}<a href="">{{site.t[page.lang].companyname}}</a></span>
        </div>
    </div>
</div>