<div class="footer">
<div class="columns is-desktop">
    <div class="column">
        <span>Полное описание архитектуры IDEA —</span><br>
        <a href="">Whitepaper</a>
    </div>
    <div class="column">
        <span>Пишите, будем рады ответить:</span><br>
        <a href="">hello@ideaproject.com</a>
    </div>
</div>
</div>
<div class="basement">
    <div class="columns is-mobile">
        <div class="column has-vertically-aligned-content is-half">
            © 2018 IDEA
        </div>
        <div class="column has-vertically-aligned-content is-half">
            <span>Сайт разработала <a href="">Компания</a></span>
        </div>
    </div>
</div>