<div class="columns is-multiline is-mobile">
    <div class="column is-narrow  header-top logo">
        <img src="/assets/images/logo.svg" alt="IDEA">
    </div>
    <div class="column has-text-right header-top lang">
        <span>Ru</span>&nbsp;<a href="">En</a>
    </div>

    <div class="column is-full header-bottom has-vertically-aligned-content ">
        {% include typograph.html content="<span><b>Internet of Decentrаlized Energy Architecture&nbsp;</b>—<br> тип децентра&shy;лизованной электроэнергетической системы, в которой реализовано интеллектуальное распределенное управление, осуществляемое за счет энергетических трансакций между ее пользователями.</span>"%}
        {% include navigation.html %}
    </div>
</div>
