<div class="columns is-multiline is-mobile">
    <div class="column is-narrow  header-top logo">
        <img src="/assets/images/logo.svg" alt="IDEA">
    </div>
    <div class="column has-text-right header-top lang">
        {% if page.url == "/" %}
            <span>Ru</span>&nbsp;<a href="index-en.html">En</a>
        {% else %}
            <a href="index.html">Ru</a>&nbsp;<span>En</span>
        {% endif %}
    </div>

    <div class="column is-full header-bottom has-vertically-aligned-content ">
        {%assign var = site.t[page.lang].head%}
        {% include typograph.html content=var%}
        <div class="header-links">
            <span class="is-hidden-desktop1024">{{site.t[page.lang].learnmore}}</span>
            {% include links.html %}
        </div>
        <div class="headhesive header-links">
            <img src="assets/images/logo.svg" class="is-hidden-mobile456 logo" alt="IDEA">
            {% include links.html %}
        </div>
    </div>
</div>
