<div class="columns is-desktop">
    <div class="column">
        <h2>Трансакционность</h2>
        {% include typograph.html content="Экономическое взаимодействие между пользователями осуществляется на основе p2p-трансакций, позволяющих реализовать многообразие пользовательских ролей и сервисов, и предоставлять пользователям кастомизированные ценности."%}
    </div>
    <div class="column">
        <h2>Интеллектуальность</h2>
        {% include typograph.html content="Осуществляется plug&nbsp;and&nbsp;play интеграция энергетических устройств пользователей в контуры интеллектуального управления и различные сервисы."%}
    </div>
    <div class="column">
        <h2>{% include typograph.html content="Устойчивость и гибкость"%}</h2>
        {% include typograph.html content="Техническое соединение устройств с электрической сетью выполняется по принципу plug&nbsp;and&nbsp;play с гарантированным поддержанием статической и динамической устойчивости системы, несмотря на большое количество влияющих друг на друга устройств пользователей."%}
    </div>
</div>
