<div class="columns is-desktop">
    <div class="column">
        <h2>Transactional</h2>
        {% include typograph.html content="Economic interactions between users should be based on peer-to-peer-transactions that allow implementation of wide range of services that provide users with customized values. Within this paradigm the users can play various roles."%}
    </div>
    <div class="column">
        <h2>Smart</h2>
        {% include typograph.html content="Simplicity of integration (plug&nbsp;and&nbsp;play) of power equipment into the loops of automated control of various services."%}
    </div>
    <div class="column">
        <h2>{% include typograph.html content="Sustainable and flexible"%}</h2>
        {% include typograph.html content="Physical connection of equipment units with the grid should be established in a convenient and user-friendly way using plug&nbsp;and&nbsp;play technologies to ensure static and dynamic stability of the system where large number of devices and equipment units influence each other."%}
    </div>
</div>
