<h1>Принципы</h1>
<div class="columns">
    <div class="column">
        Трансакционной: экономическое взаимодействие между пользователями должно осуществляться на основе p2p-трансакций, позволяющих реализовать многообразие пользовательских ролей и сервисов, предоставляющих им кастомизированные
    </div>
    <div class="column">
        Интеллектуальной: должна быть обеспечена легкость интеграции (plug&play) энергетических устройств пользователей в контуры роботизированного управления различных сервисов;
    </div>
    <div class="column">
        Устойчивой и гибкой: должна быть обеспечена легкость технического соединения устройств с сетью по принципу plug&play при гарантированном поддержании статической и динамической устойчивости работы системы с большим количеством виляющих друга на друга устройств пользователей.
    </div>
</div>