
<div class="columns is-desktop">
    <div class="column">
        <h2>Трансакционность </h2>
        Экономическое взаимодействие между пользователями осуществляется на основе p2p-трансакций, позволяющих реализовать многообразие пользовательских ролей и сервисов, и предоставлять пользователям кастомизированные ценности.
    </div>
    <div class="column">
        <h2>Интеллектуальность</h2>
        Осуществляется plug&play интеграция энергетических устройств пользователей в контуры интеллектуального управления и различные сервисы.
    </div>
    <div class="column">
        <h2>Устойчивость и гибкость </h2>
        Техническое соединение устройств с электрической сетью выполняется по принципу plug&play с гарантированным поддержанием статической и динамической устойчивости системы, несмотря на большое количество влияющих друг на друга устройств пользователей.
    </div>
</div>