body {
  font-family: $font-family-manrope;
}
.hero-body{
  max-width: $fullhd;
  margin: 0 auto;
}
.header {
  height: 100vh;
  min-height: 500px;
  max-height: $height-of-head;

  .header-top{
    padding: $offset-xl;
    @include until($mobile667) {
      padding: $offset-l;
    }
  }

  .lang{
    font-size: $font-size-xxl;
    @include until($mobile667) {
      font-size: $font-size-m;
    }

    a{
      color: $color-white;
      text-decoration: underline;
    }
    span{
      color: $color-gray-dark;
    }
  }

  .header-bottom {
    margin-top: auto;
    color: $color-white;
    font-size: $font-size-xxl;
    padding: 0 $offset-xxl;
    @include until($mobile667) {
      font-size: $font-size-m;
      padding: 0 $offset-l;
    }

    a {
      color: $color-white;
    }

    .header-links {
      font-size: $font-size-m;
      margin-top: $offset-xxl;
      padding: 18px 0;
      border-top: 1px solid rgba(255, 255, 255, 0.5);

      @include until($mobile667) {
        font-size: $font-size-s;
      }

        a{
          margin-left: $offset-xl;
          text-decoration: underline;
          vertical-align: -moz-middle-with-baseline;
          @include  until($mobile667)  {
            margin-left: 0;
          }
        }

      span{
        vertical-align: -moz-middle-with-baseline;
      }

      .mail{
        background: $color-yellow;
        border-radius: $border-radius-m;
        padding: 6px 14px;
        color: $color-gray-dark;
      }

    }
    .headhesive {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%!important;
      z-index: 100;
      display: none;
      will-change: transform,background;
      max-width: none!important;
      padding: 18px 40px;
      margin-top: 0;
    }
    .headhesive--stick {
      display: block;
    }

  }

  .columns{
    //padding: $offset-xxl;
    max-width: $fullhd;
    margin: 0 auto;
    height: 100vh;
    max-height: $height-of-head;
  }

  canvas{
    position: absolute;
    z-index: -1;
  }
}

.column.has-vertically-aligned-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#scroll-container {
  position: relative;
  @include  until($mobile667)  {
    display: flex;
    flex-direction: column-reverse;
  }

  #sections {
    > div {
      opacity: $opacity-l;
    }
    div.graph-scroll-active {
      opacity: $opacity-none;
    }
  }

  #graph {
    position: sticky;
    top: 50%;
      }

  #graph-container{
    @include  until($mobile667)  {
      position: sticky;
      top:50px;
      background: $color-white;
    }
  }
}


@include until($mobile667){
  .is-hidden-mobile667{
    display: none !important}}

@include until($mobile375){
  .is-hidden-mobile375{
    display: none !important}}