body {
  font-family: $font-family-manrope;
  font-size: $font-size-s2;
}

span.te{color: $color-te; font-weight: bold;}
span.iot{color: $color-iot; font-weight: bold;}
span.ng{color: $color-ng; font-weight: bold;}

.hero-body {
  max-width: $fullhd;
  margin: 0 auto;
  padding: 53px 37px;
  @include until($desktop) {
    padding: $offset-l;
  }

  h1{
    font-size: $font-size-xxl;
    margin-bottom: $offset-xl;
    line-height: 1.2em;
  }

  h2{
    font-weight: bold;
  }
}

.header {
  height: 100vh;
  min-height: 320px;
  max-height: $height-of-head;

  .header-top {
    padding: $offset-xl2 0 0 $offset-xl;
    @include until($desktop) {
      padding: $offset-l;
    }
    @include until($mobile667) {
      padding: $offset-l;
    }
  }

  .logo img{
    width: 203px;
    @include until($desktop){
      width:105px;
    }
  }

  .lang {
    font-size: $font-size-xxl;
    padding: 50px 64px 0 0;
    line-height: 1;
    @include until($desktop) {
      font-size: $font-size-m;
    }
    @include until($desktop){
      padding: $offset-l 25px 0 0;
    }

    a {
      color: $color-white;
      text-decoration: underline;
    }
    span {
      margin-right: 10px;
      color: $color-gray-dark;
    }
  }

  .header-bottom {
    margin-top: auto;
    color: $color-white;
    font-size: $font-size-xxl;
    padding: 0 $offset-xxl;
    @include until($desktop) {
      font-size: $font-size-m;
      padding: 0 $offset-l;
    }
    @include until($mobile667) {
      font-size: $font-size-m;
    }
    @include until($mobile375) {
      font-size: $font-size-s;
    }
    @include mobile375-landscape{
      font-size: $font-size-s;
    }

    a {
      color: $color-white;
    }

    .header-links {
      font-size: $font-size-s2;
      margin-top: $offset-xxl;
      padding: $offset-ml 0;
      border-top: 1px solid rgba(255, 255, 255, 0.5);

      .tall{
        padding: $offset-ml 0;
        &-hover,&:hover{
          opacity: 0.8;
        }
      }

      .whitepaper {
        margin: 0 $offset-xxxl;
        @include until($desktop1024) {
          margin: 0 ;
        }
      }

      .telegram{
        /*margin-left: $offset-xxxl;*/
      }

      @include until($desktop1440) {
        font-size: $font-size-s;
        margin-top: $offset-xl;
        padding: $offset-m 0;
      }
      @include until($mobile667) {
        margin-top: $offset-l;
      }

      >a {
        margin-right: $offset-l;
        text-decoration: underline;
        vertical-align: -moz-middle-with-baseline;
        line-height: 36px;
        @include until($mobile667) {
          margin-left: 0;
        }
      }

      span {
        vertical-align: -moz-middle-with-baseline;
      }

      .mail {
        background: $color-yellow;
        border-radius: $border-radius-l;
        padding: $offset-link-m;
        height: 100%;
        color: $color-green-dark;
        line-height: 1.5;
        cursor: pointer;
        @include until($mobile667) {
          padding:$offset-link-s;
        }
      }
      .mail:hover{
        background: $color-orange;
        color:#333333;}

      .brands{
          font-size: $font-size-s3;
          //margin-top: -$offset-s ;
        a{
          margin-right: $offset-l;
        }
        a:hover{
          opacity: 0.8;
        }
        @include from($desktop1440) {
          display: none;
        }
        }


    }
    .headhesive {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%!important;
      z-index: 100;
      display: none;
      height: 64px;
      //will-change: transform,background;
      //max-width: none!important;
      padding: $offset-ml $offset-xxl;
      margin-top: 0;
      @include until($desktop1440) {
        padding: $offset-m $offset-m $offset-m $offset-l;
        height: 54px;
      }

      .logo {
        margin-right: $offset-l;
        float: left;

      }

    }
    .headhesive--stick {
      display: block;
    }

    .hidden-header{display: none}

  }

  .columns{
    //padding: $offset-xxl;
    max-width: $fullhd;
    margin: 0 auto;
    height: 100vh;
    max-height: $height-of-head;
  }

  canvas{
    position: absolute;
    z-index: -1;
    top: -1px;
    left: 0;
  }
}

//Vertical align of content

.column.has-vertically-aligned-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

//Graph Scroll

#scroll-container {
  position: relative;
  padding-bottom:0;
  @include until($mobile456) {
    display: flex;
    flex-direction: column-reverse;
  }

  #sections {

    > div {
      opacity: $opacity-none;
    }
    div.graph-scroll-active {
      opacity: $opacity-none;
    }
    div.hide{
      opacity: $opacity-l;
    }
    @include until($mobile667) {
      /*padding: 0;*/
    }
    .section{
      padding: 3rem 0;
      @include until($mobile667) {
        padding: 1.5rem 0;
      }
    }
  }

  #graph {
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -o-sticky;
    position: -ms-sticky;
    position: sticky;
    top: 43px;
    }
  #graph.fullscreen{
    z-index: 9999;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: $color-white;
  }

  #graph-container {
    @include until($mobile456) {
      position: sticky;
      top: 50px;
      background: $color-white;
    }
  }
}
.footer-container {
  color: $color-green-dark;
  a {
    text-decoration: underline;
    color: $color-green-dark;
    &:hover{
      color: darken($color-green-dark,50%);
    }
  }

  .footer {
    background: url("/assets/images/tmp/bg.svg") repeat-x;
    height: 712px;
    padding: 1px;

    @include until($desktop) {
      background: url("/assets/images/tmp/bg-mob.svg") repeat-x $offset-l 0;
      height: 592px;
    }

    >a{
      &:hover{
        opacity: 0.8;
      }
    }

    .columns {
      margin: 256px auto;
      width: 896px;
      @include until($desktop) {
        margin: 138px auto;
        width: 100%;
        .column:last-of-type {
          padding-top: 0px;
        }
      }
      .column {
        padding: 34px 0 40px 0;
        @include until($desktop) {
          padding: 49px 16px 32px;
          width: 340px;
        }
        span {
        }
        a {
          font-size: $font-size-xxl;
          @include until($desktop) {
            font-size: $font-size-m2;
          }
        }

      }
    }

    .footer-rect-medium{
      position: absolute;
      width: 72px;
      height: 72px;
      background: url(/assets/images/medium.svg) no-repeat;
      left: 50%;
      margin-top:408px;
      @include until($desktop) {
        left: 80px !important;
        margin-top: 461px;
      }
    }
    .footer-rect-telegram{
      position: absolute;
      width: 72px;
      height: 72px;
      background: url(/assets/images/telegram.svg) no-repeat;
      left: 60%;
      margin-top:472px;
      @include until($desktop) {
        left: $offset-l !important;
        margin-top: 461px;
      }
    }
  }

  .basement{
    padding: 1px;
    width: $desktop1440;
    @include until($desktop1440) {
      width: 100%;
    }
    @include until($mobile667) {
      font-size: $font-size-s;
    }
    margin: 0 auto;
    .columns{
      padding: 0 $offset-xl;
      @include until($desktop1440) {
        padding: 0 $offset-l;
      }
    }
    .column {
      height: 112px;
    }
    .column:last-of-type {
      text-align: right;
    }
  }
}


@include until($mobile667){
  .is-hidden-mobile667{
    display: none !important}}

@include until($mobile375){
  .is-hidden-mobile375{
    display: none !important}
}

@include until($mobile456){
  .is-hidden-mobile456{
    display: none !important}}

@include until($desktop1440){
  .is-hidden-desktop1440{
    display: none !important}}

@include until($desktop1024){
  .is-hidden-desktop1024{
    display: none !important}}

@include from($desktop1024){
  .is-hidden-from-desktop1024{
    display: none !important}}