/* SCSS Variables */

// opacity

$opacity-none: 1.0;
$opacity-xs:   0.8;
$opacity-s:    0.6;
$opacity-m:    0.4;
$opacity-l:    0.2;
$opacity-xl:   0.1;
$opacity-xxl:  0.04;
$opacity-underlay:       $opacity-xs;
$opacity-text-secondary: $opacity-m;
$opacity-disabled: $opacity-l;
$opacity-empty: $opacity-m;

// margins

$offset-xs:  2px;
$offset-s:   4px;
$offset-m:   8px;
$offset-l:  16px;
$offset-xl: 32px;
$offset-xxl: 40px;
$offset-container: $offset-s;
$offset-component: $offset-m;
$offset-component-inside: $offset-s;
$offset-page: $offset-xl;

// border-radius

$border-radius-xs: 1px;
$border-radius-m: 2px;
$border-radius-l: 4px;

// animation-duration

$animation-duration-s: 100;
$animation-duration-m: 200;
$animation-duration-l: 400;

// color

$color-white: #FFF;
$color-gray-light: #DFDFDF;
$color-gray: #ADADAD;
$color-gray-dark: #7C7C7C;
$color-black: #000;
$color-red: #FC121B;
$color-blue: #1AA5B8;
$color-yellow: #F4C52E;
$color-accent: $color-yellow;
$color-interactive: $color-blue;
$color-caution: $color-red;
$color-overlay: $color-black;

// font-family

@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');
$family-sans-serif: "Nunito", sans-serif;
$font-family: Arial, sans-serif;
$font-family-monospace: "Material Icons";
$font-family-icons: "", monospace;

// font


$font-h1-line-height:           36px;

$font-h1-size:                  32px;
$font-h1:                       bold $font-h1-size / $font-h1-line-height $font-family-monospace;

$font-headline-line-height:     20px;

$font-headline-size:            20px;
$font-headline:                 bold $font-headline-size / $font-headline-line-height $font-family;

$font-bodylarge-line-height:    24px;

$font-bodylarge-size:           16px;
$font-bodylarge:                $font-bodylarge-size / $font-bodylarge-line-height $font-family;

$font-bodylarge-monospace-size: 18px;
$font-bodylarge-monospace:      $font-bodylarge-monospace-size / $font-bodylarge-line-height $font-family-monospace;

$font-body-line-height:         20px;

$font-body-size:                14px;
$font-body:                     $font-body-size / $font-body-line-height $font-family;
$font-bodycaps:                 bold $font-body-size / $font-body-line-height $font-family;

$font-body-monospace-size:      16px;
$font-body-monospace:           $font-body-monospace-size / $font-body-line-height $font-family-monospace;

$font-caption-line-height:      12px;

$font-caption-size:             12px;
$font-caption:                  $font-caption-size / $font-caption-line-height $font-family;

// font-icons

$font-icons-s-line-height:      16px;
$font-icons-s-size:             16px;
$font-icons-m-line-height:      24px;
$font-icons-m-size:             20px;
$font-icons-l-line-height:      32px;
$font-icons-l-size:             32px;

// shadow

$shadow-inner-m: inset 0px 2px 8px 0px rgba(0, 0, 0, 0.2);
$shadow-outer-m: 0px 2px 8px 0px rgba(0, 0, 0, 0.2);

// background

@mixin background-down {
  background-color: $color-blue;
  opacity: $opacity-l;
}

@mixin background-total {
  background: linear-gradient(180deg, rgba(0, 0, 0, $opacity-xl) 0%, rgba(0, 0, 0, $opacity-xxl) 100%), $color-white;
}

@mixin background-caution {
  background-color: $color-caution;
  opacity: $opacity-l;
}

@mixin background-overlay {
  background-color: $color-overlay;
  opacity: $opacity-s;
}