/* SCSS Variables */

//breackpoints
$mobile375: 376px !default;
$mobile456: 456px !default;
$mobile550: 551px !default;
$mobile667: 668px !default;
$desktop1440: 1441px !default;

@mixin mobile375 {
  @media screen and (max-width: $mobile375 +1px) {
    @content
  }
}

@mixin mobile375-landscape {
  @media screen and (max-width: 568px) and (orientation : landscape) {
    @content
  }
}

@mixin mobile456 {
  @media screen and (max-width: $mobile456 + 1px) {
    @content
  }
}

@mixin mobile667 {
  @media screen and (max-width: $mobile667 + 1px) {
    @content
  }
}

// structure

$height-of-head: 805px;

// opacity

$opacity-none: 1.0;
$opacity-xs:   0.8;
$opacity-s:    0.6;
$opacity-m:    0.4;
$opacity-l:    0.2;
$opacity-xl:   0.1;
$opacity-xxl:  0.04;


// margins

$offset-xs:  2px;
$offset-s:   4px;
$offset-m:   8px;
$offset-l:  16px;
$offset-xl: 32px;
$offset-xxl: 40px;
$offset-container: $offset-s;
$offset-component: $offset-m;
$offset-component-inside: $offset-s;
$offset-page: $offset-xl;
$offset-link-m: $offset-s $offset-l;
$offset-link-s: $offset-xs $offset-m;

// color

$color-white: #FFF;
$color-gray-light: #DFDFDF;
$color-gray: #ADADAD;
$color-gray-dark: #4A6568;
$color-black: #000;
$color-red: #FC121B;
$color-blue: #1AA5B8;
$color-yellow: #FCDB00;
$color-accent: $color-yellow;
$color-interactive: $color-blue;
$color-caution: $color-red;
$color-overlay: $color-black;

//scheme colors

$color-te:#FFA800;
$color-iot:#0099DC;
$color-ng:#FF8282;

// font-family

$font-family-manrope: "Manrope",sans-serif;


// font

$font-size-xxl:36px;
$font-size-xl:30px;
$font-size-m:22px;
$font-size-s:16px;
$font-size-xs:8px;

$font-h1-line-height:           36px;

$font-h1-size:                  32px;
$font-h1:                       bold $font-h1-size / $font-h1-line-height $font-family-manrope;


// border radius

// border-radius

$border-radius-xs: 1px;
$border-radius-m: 2px;
$border-radius-l: 4px;