/* SCSS Variables */

// structure

$height-of-head: 100vh;

// opacity

$opacity-none: 1.0;
$opacity-xs:   0.8;
$opacity-s:    0.6;
$opacity-m:    0.4;
$opacity-l:    0.2;
$opacity-xl:   0.1;
$opacity-xxl:  0.04;


// margins

$offset-xs:  2px;
$offset-s:   4px;
$offset-m:   8px;
$offset-l:  16px;
$offset-xl: 32px;
$offset-xxl: 40px;
$offset-container: $offset-s;
$offset-component: $offset-m;
$offset-component-inside: $offset-s;
$offset-page: $offset-xl;

// border-radius

$border-radius-xs: 1px;
$border-radius-m: 2px;
$border-radius-l: 4px;
$border-radius-l: 6px;

// animation-duration

$animation-duration-s: 100;
$animation-duration-m: 200;
$animation-duration-l: 400;

// color

$color-white: #FFF;
$color-gray-light: #DFDFDF;
$color-gray: #ADADAD;
$color-gray-dark: #4A6568;
$color-black: #000;
$color-red: #FC121B;
$color-blue: #1AA5B8;
$color-yellow: #FCDB00;
$color-accent: $color-yellow;
$color-interactive: $color-blue;
$color-caution: $color-red;
$color-overlay: $color-black;

// font-family

@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');
$family-sans-serif: "Nunito", sans-serif;
$font-family: Arial, sans-serif;
$font-family-monospace: "Material Icons";
$font-family-icons: "", monospace;

// font

$font-size-xxl:36px;
$font-size-xl:30px;
$font-size-m:22px;
$font-size-s:14px;

$font-h1-line-height:           36px;

$font-h1-size:                  32px;
$font-h1:                       bold $font-h1-size / $font-h1-line-height $font-family-monospace;


// shadow

$shadow-inner-m: inset 0px 2px 8px 0px rgba(0, 0, 0, 0.2);
$shadow-outer-m: 0px 2px 8px 0px rgba(0, 0, 0, 0.2);
